<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">Logo</a>
		<ul data-ng-show="authentication.user" class="pull-right avata-ul">
			<li>
				<img ng-src="uploads/{{user.avatar}}" class="avatar-image" />
			</li>
			<li>
				<a href="/#!/" class="avatar-name">{{authentication.user.email}}</a>
			</li>		
		</ul>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav navbar-left" >
			<li ui-route="/" ng-class="">
				<a href="/#!/">About</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="main-menu-ul">
				<a href="/#!/albums">Album List (testing)</a>
			</li>		
			<li class="main-menu-ul">
				<a href="/#!/settings/album">Create Album</a>
			</li>
			<!--<li class="main-menu-ul">
				<a href="/#!/subjects">Subject List (testing)</a>
			</li-->		
			<li class="main-menu-ul">
				<a href="/#!/settings/subject">Create Subject</a>
			</li>
			<!--<li class="main-menu-ul">
				<a href="/#!/videos">Video List (testing)</a>
			</li>-->
			<li class="main-menu-ul">
				<a href="/#!/settings/video">+ Video</a>
			</li>
			<li>
				<a href="/#!/settings/profile">My Settings</a>
			</li>			
			<li>
				<a href="/auth/signout">Signout</a>
			</li>
		</ul>
	</nav>

</div>
