<div class="modal-block-container">
<section class="row modal-section" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-5 login-modal modal-content">
		<a href="#!/" class="glyphicon glyphicon-remove pull-right close-modal-content"></a>
		<form name="userForm" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset ng-show="signup_step==1">
				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<h2>Sign Up</h2>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-5">
							<label for="email">your email address</label>
						</div>
						<div class="col-md-7">
							<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-5">
							<label for="password">a password</label>
						</div>
						<div class="col-md-7">
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
						</div>
					</div>				
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-large btn-primary pull-right" ng-click="nextstep()">Sign up</button>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<a href="/auth/facebook" class="undecorated-link">
								<button class="btn btn-large btn-primary form-control">Use Facebook Credential</button>
							</a>						
						</div>
						<div class="col-xs-6">
							<a href="/auth/google" class="undecorated-link">
								<button class="btn btn-large btn-primary form-control">Use Google Credential</button>
							</a>						
						</div>
					</div>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error">{{error}}</strong>
				</div>
			</fieldset>
			<fieldset ng-show="signup_step==2">
				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<h2>Setup Channel Profile</h2>
						</div>
					</div>
				</div><div class="modal-signup-scroll">
				<div class="form-group" ng-repeat-start="channel in channels">
					<div class='row'>
						<div class="col-md-12">
							<h3 class="pull-left channel-subject" ng-if="$index==0">1st Channel</h3>
							<h3 class="pull-left channel-subject" ng-if="$index==1">2nd Channel</h3>
							<h3 class="pull-left channel-subject" ng-if="$index==2">3rd Channel</h3>
							<h3 class="pull-left channel-subject" ng-if="$index>2">{{$index+1}}th Channel</h3>
							<span class="remove-span pull-left" ng-click="removeChannel($index)">remove</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-5">
							<label for="chanel_name">Enter Name</label>
						</div>
						<div class="col-md-7">
							<input type="text" id="chanel_name" name="chanel_name" class="form-control" data-ng-model="channel.channel_name" placeholder="Enter Name">
						</div>
					</div>				
				</div>
				<div class="form-group" ng-repeat-end>
					<div class="row">
						<div class="col-md-5">
							<label for="class_levels">Class Level</label>
						</div>
						<div class="col-md-7">
							<select class="form-control" ng-model="channel.selected_classlevel" ng-options="level as level.value for level in classlevels">
							</select>
						</div>
					</div>
				</div></div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<!--<button class="btn" style="float:left;">add another channel</button>-->
							<button class="btn btn-large btn-primary pull-left su-add-channel-btn" ng-click="addChannelItem()">Add another channel</button>
							<button class="btn btn-large btn-primary pull-left" ng-click="onUserSignup()">Save</button>
						</div>
					</div>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error">{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
</div>