.content {
	margin-top: 50px;
}

.plcontent{
	margin-top: 20px;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}
.full-width{
	position: relative;
	width: 100% !important;
}

.channel-list{
	width: auto;
	margin: 0px;
	padding: 0px;
	position: relative;
	display: table-row;
}

.channel-list li{
	list-style: none;
	display: table-cell;
	position: relative;
	padding: 15px 21px;
	cursor: pointer;
}

.channel-list li.active{
	background: #efefef;
}

.channel-list li:hover{
	background: #efefef;
}

.channel-list li div{
	padding: 15px 21px;
}

.channel-container{
	overflow-y: hidden;
	overflow-x: auto;	
}

.add-channel-btn{
	position: absolute;
	top: 10px;
}

.test{
	color: red;
}

.album-list-item{
	width: 200px;
	height: 200px;
	background-color: rgba(0,0,0,0.1);
	border: solid 1px #eee;
	border-bottom: none;
	background-size: 100% 100%;
	position: relative;
}

.album-list-item .video-remove-btn{
	right: 0px;
}

.album-list-ul li{
	list-style: none;
	display: table-cell;
	margin: 15px 0px 0px 0px;
	cursor: pointer;
	padding: 0px 20px;
	position: relative;
}

.album-list-ul li:hover .album-list-item, .album-list-ul li:hover .album-item-title{
	border-color:gray;
}

.album-item-title{
	width: 100;
	background: rgba(0,0,0,0.1 );
	border: solid 1px #eee;
	border-top: none;
	padding: 5px 8px;
	font-size: 20px;
	text-align: center;
}

.manage-item .album-item-title{
	border-top: solid 1px #eee;
}

.video-list-wrapper{
	margin-bottom: 12px;
}

.video-list-wrapper img:hover{
	border-color: #e00;
}

.video-list-wrapper img{
	cursor: pointer;
	position: relative;
	width: 100%;
	min-height: 50px;
	border: solid 1px #eee;
}

.video-modal-item{
	position: relative;
	padding-top: 58%;
	height: 0;
	margin-bottom: 15px;
}

.video-modal-item iframe{
	position: absolute;
	display: block;
	left: 0px;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.full-width{
	width: 100%;
}

.video-modal-description{
	padding: 2px 8px;
}

.modal{
	background: rgba(255,255,255,0.8);
}

.modal-content{
	padding: 35px;
}

.video-modal-close{
	position: absolute;
	right: 9px;
	top: -7px;
	font-size: 35px;	
	cursor: pointer;
}

.video-modal-close:hover{
	color: black;
}

.album-box{
	overflow-y: hidden;
	overflow-x: auto;
	width: auto;	
}

.album-list-ul{
	position: relative;
	display: table-row;	
}

.video-favorite-btn{
	width: 15px;
	height: 15px;
	background: yellow;
	position: absolute;
	bottom: 6px;
	right: 42px;
	cursor: pointer;
}

.video-block-btn{
	width: 15px;
	height: 15px;
	background: #ee0000;
	position: absolute;
	bottom: 6px;
	right: 21px;
	cursor: pointer;
}

.video-favorite-btn:hover, .video-block-btn:hover{
	opacity: 0.8;
}

.chancelevel-section{
	padding: 15px 0px;
}

.chancel-text{
	text-align: center;
}

.chancelevel-section .ui-corner-all{
	margin: 0px auto;
}

.black-screen{
	background: #000;
}

.playerview-action{
	color: red;
}

.player-box .videoframe{
	position: relative;
	display: block;
	margin: 0px auto;
}

.channelmode-section .col-md-12{
	text-align: center;
}

.channelmode-section .col-md-12 label{
	margin-left: 15px;
	position: relative;
	top: -2px;
	cursor: pointer;
}

.channelmode-section .col-md-12 input[type='checkbox']{
	cursor: pointer;
}

.channelmode-section .col-md-12 .timelimit-label{
	margin-right: 12px;
}

.channelmode-section{
	padding: 15px 0;
}

.videoplayer-section .album-box{
	color: white;
}

.manage-subject{
	padding: 5px 0px 0px 0px;
	margin: 5px 0px;
	cursor: pointer;
	float: left;
	display: block;
	font-size: 17px;
}

.manage-subject + .editable-wrap{
	padding: 5px 0px;
	margin: 5px 0px;
	float: left;
	display: block;	
	font-size: 17px;
}