@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.signin label{
	position: relative;
	top: 5px;
}

.login-modal.modal-content{
	padding: 35px;
}

.modal-signup-scroll{
	max-height: 300px;
	overflow-y: auto;	
	overflow-x: hidden;
	margin-bottom: 15px;
}

.modal-signup-scroll .form-group {
	padding-left: 30px;
	padding-right: 30px;
}

.modal-block-container{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100001;
	background: rgba(255,255,255,0.8);
	left: 0px;
	top: 0px;	
}

.modal-block-container .modal-section{
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	position: relative;	
}

.close-modal-content{
	text-decoration: initial !important;
	z-index: 100002;
	cursor: pointer;
}

.close-modal-content:opacity {
	opacity: 0.8;
}

.remove-span{
	cursor: pointer;
	margin-left: 12px;
	margin-top: 5px;
}

.remove-span:hover{
	text-decoration: underline;
}

.channel-subject{
	margin: 0px;
}

.modal-channel-scroll{
	width: 100%;
	max-height: 210px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px 30px;
	margin-bottom: 15px;	
}

.file-upload-ctrl{
	width: calc(100% - 40px);
}

.avatar-image{
	position: relative;
	top: 10px;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	border: solid 2px white;
	background: gray;
}

.avatar-ul{
	list-style: none;
}

.avata-ul li{
	list-style: none;
	float: left;
}

.avata-ul li a.avatar-name{
	color: white;
	position: relative;
	top: 15px;
	margin: 0px 15px;
}
.su-add-channel-btn{
	margin-right: 10px;
}

.vl-submit-btn{
	margin-right: 10px;
}