<div class="container" data-ng-controller="AlbumController">
	<div class="row">
		<div class="col-md-10 channel-container">
			<ul class="channel-list">
				<li ng-repeat="channel in channels" ng-class="{'active': channel.name == selected_channel.name}" ng-click="onSelectChannel(channel)">
					{{channel.name}}
				</li>
			</ul>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-large btn-default pull-right add-channel-btn" ng-click="addChannel()">Add Channel</button>
		</div>
	</div>
	<div class="row album-box" ng-repeat="album in album_arrange">
		<h3>{{album.subject.name}}</h3>
		<div class="col-md-12 album-list-container">
			<ul class="album-list-ul">
				<li ng-repeat="item in album.list" ng-click="onSelectAlbum(item )">
					<div ng-style="{'background-image': 'url(uploads/{{item.listHeaderImg}})'}" class="album-list-item"></div>
					<p class="album-item-title">{{item.name}}</p>
				</li>
			</ul>
		</div>
	</div>
</div>