<section class="row videoplayer-section" data-ng-controller="VideoplayerController">
	<div class="col-xs-12 col-md-12 playerview-action">
		<ul>
			<li class="play-back-btn" ng-click="backMenu(2 )" ng-show="playerviewstep == 3">BACK</li>
			<li class="play-back-btn" ng-click="backMenu(10 )" ng-show="playerviewstep == 11">BACK</li>
			<li class="play-back-btn" ng-click="backMenu(11 )" ng-show="playerviewstep == 12">BACK</li>
			<li ng-click="onManage()" ng-hide="playerviewstep > 100">MANAGE <span class="glyphicon glyphicon-cog"></span></li>
			<li ng-show="playerviewstep==2 || playerviewstep == 10" ng-click="playerviewstep = 1"><a script="javascript:;">HOME <span class="glyphicon glyphicon-home"></span></a></li>
			<li ng-show="playerviewstep > 100" ng-click="goHome()"><a script="javascript:;">HOME <span class="glyphicon glyphicon-home"></span></a></li>
			<li ng-show="playerviewstep > 100" ng-click="onResetTime()">RESET</li>
		</ul>	
	</div>
	<div class="col-xs-12 col-md-12 playerview-box" ng-show="playerviewstep == 1">
		<form name="videoForm" class="signin form-horizontal" autocomplete="off">
			<div class="form-group">
				<div class="row channel-box">
					<div class="col-md-3 col-xs-3 channel-item" ng-repeat="channel in channels" ng-click="gotoPlayerView(channel )">
						<div>{{channel.name}}</div>
					</div>
				</div>									
			</div>
		</form>
	</div>

	<div class="col-xs-12 col-md-12 playerview-box" ng-show="playerviewstep == 2">
		<form name="videoPlayList" class="form-horizontal" autocomplete="off">
			<div class="form-group">
				<div class="row player-box">
					<div class="col-md-3 video-list-wrapper" ng-repeat="video in playlist">
						<img ng-src="{{getScreenshotFromUrl(video.obj.src)}}" ng-click="playingVideo(video.obj)" />
					</div>				
				</div>
			</div>
		</form>
	</div>

	<div class="col-xs-12 col-md-12 playerview-box" ng-show="playerviewstep == 3 || playerviewstep == 12">
		<form name="videoPlaying" class="form-horizontal" autocomplete="off">
			<div class="form-group">
				<div class="row player-box">
					<div class="col-md-12">
						<youtube-video video-url="video_item.src" player="favoritePlayer" class="videoframe" ></youtube-video>  
					</div>
				</div>
			</div>
		</form>
	</div>

	<!--<div class="col-xs-12 col-md-12 playerview-box" ng-show="playerviewstep == 12">
		<form name="videoPlaying" class="form-horizontal" autocomplete="off">
			<div class="form-group">
				<div class="row player-box">
					<div class="col-md-12">
						<youtube-video video-url="video_item.src" player="favoritePlayer" class="videoframe" ></youtube-video>  
					</div>
				</div>
			</div>
		</form>
	</div>-->

	<div class="row album-box full-width" ng-repeat="album in album_arrange" ng-show="playerviewstep == 10">
		<h3>{{album.subject.name}}</h3>
		<div class="full-width album-list-container">
			<ul class="album-list-ul">
				<li ng-repeat="item in album.list" ng-click="onSelectAlbum(item )">
					<div ng-style="{'background-image': 'url(uploads/{{item.listHeaderImg}})'}" class="album-list-item"></div>
					<p class="album-item-title">{{item.name}}</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-12" ng-show="playerviewstep == 11">
		<h3 style="color:white;">{{selected_album.name}}</h3>
	</div>
	<div class="col-md-3 video-list-wrapper" ng-repeat="video in selected_video_list" ng-show="playerviewstep==11">
		<img ng-src="{{getScreenshotFromUrl(video.src)}}" ng-click="playingChanceVideo(video)"/>
	</div>

	<div class="col-xs-12 col-md-12" ng-show="playerviewstep > 100">
		<h2 style="color: white; text-align: center;">Your time is up</h2>
	</div>
</section>