<section class="row" data-ng-controller="VideoplayerController">
<div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10" ng-show="playerviewstep == 1">
	<form name="videoForm" class="signin form-horizontal" autocomplete="off">
		<fieldset>
			<div class="form-group">
				<div class="row channel-box">
					<div class="col-md-3 col-xs-3 channel-item" ng-repeat="channel in channels" ng-click="gotoPlayerView(channel )">
						<div>{{channel.name}}</div>
					</div>
				</div>									
			</div>
		</fieldset>
	</form>
</div>

<div cass="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10" ng-show="playerviewstep == 2">
	<form name="videoPlayList" class="form-horizontal" autocomplete="off">
		<fieldset>
			<div class="form-group">
				<div class="row player-box">
					<div class="col-md-3 video-list-wrapper" ng-repeat="video in playlist">
						<img ng-src="{{getScreenshotFromUrl(video.obj.src)}}" ng-click="playingVideo(video.obj)" />
					</div>				
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10" ng-show="playerviewstep == 3">
	<form name="videoPlaying" class="form-horizontal" autocomplete="off">
		<fieldset>
			<div class="form-group">
				<div class="row player-box">
					<div class="col-md-12">
						<youtube-video video-url="video_item.src" player="favoritePlayer"></youtube-video>  
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>

</section>