.channel-box, .player-box{
	padding: 20px 0px;
}

.channel-item{
	margin-bottom: 20px;
}

.channel-item > div{
	width: 80%;
	height: 120px;
	background: #efefef;
	border-radius: 12px;
	margin: 0px auto;
	position: relative;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 120px;
	cursor: pointer;
}

.channel-item > div:hover{
	font-weight: bold;
}

.playerview-action{
	position: relative;
}

.playerview-action ul{
	margin: 0px;
	padding: 0px;
}

.playerview-action ul li{
	float: right;
	position: relative;
	display: block;
	list-style: none;
	margin: 0px 8px;
	cursor: pointer;
	font-weight: bold;
}

.playerview-action ul li.play-back-btn{
	float: left;
}

.playerview-action ul li a{
	color: red;
}

.playerview-action ul li:hover, .playerview-action ul li:hover a{
	color: #ee1111;
	text-decoration: none;
}