.channel-box, .player-box{
	padding: 20px 0px;
}

.channel-item{
	margin-bottom: 20px;
}

.channel-item > div{
	width: 80%;
	height: 120px;
	background: #efefef;
	border-radius: 12px;
	margin: 0px auto;
	position: relative;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 120px;
	cursor: pointer;
}

.channel-item > div:hover{
	font-weight: bold;
}